body {
    max-width: 1920px;
    padding: 0;
    min-height: 100vh; /* Ensure the body covers the full viewport height */
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.95)
        ),
        url('/collaboration_background_2.webp');
}
